@import "../variables";

#info {
 background-color: $color-primary ;
}

.navbar {
  box-shadow: $shadow;

  .navbar-brand {
    padding: $padding-1;
    margin-right: $margin-3;

    img {
      width: 150px;
    }
  }

  .navbar-items {
    display: inline-flex;

    .nav-item {
      padding: 0 $padding-3;
      margin: 1rem 0px;

      .nav-link {
        text-decoration: none;
        color: black;
        &:hover {
          color: #ffffff;
        }
      }

      &:hover:not(:nth-child(7)) {
        background-color: $color-primary;
        border-radius: 5px;
      }

      &:nth-child(7){
        margin-left: 1rem;
        border-left: 1.5px solid #000;
        @media screen and (max-width: 800px) {
          border-left: none;
          margin-left: 0;
        }
      }
    }
  }
}

a.dropdown-item{
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-header-1 {
  font-size: 1.4rem;
}

.active {
  background-color: $color-primary;
  border-radius: 5px;
  color: white;
  padding: 1rem;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
