$padding-1: 1.4rem;
$padding-2: 1rem;
$padding-3: .4rem;

$margin-1: 30%;
$margin-2: 20%;
$margin-3: 10%;

$color-primary: #ff0808;
$color-primary-light: #fc8484;

$shadow: 0 7px 6px #ccc;
$shadow2: 0 4px 3px rgba(0,0,0,.6);

$font1: 'PT Serif', serif;